$headline-font: 900 120px/1 Arial,sans-serif;
$body-font: 300 18px/1.7 Verdana,sans-serif;

$ui-white: #fff;
$ui-black: #0f0f0f;
$ui-background: #e9e9e9;

$accent-primary: #fdb827;

$text-primary: #333;
$text-inverted: #fff;

$max-width: 720px;

body {
  margin: 0;
  padding: 0;
  background: $ui-background;
  color: $text-primary;
  font: $body-font;
}

img, canvas.tinted {
  max-width: 100%;
}

h1,h2,h3 {
  font: $headline-font;
}
h2 {
  font-size: 60px;
}

.page-container {
  overflow: hidden;
  padding-left: 4rem; // offset for nav
  > * {
    position: relative;
  }
}

.nav-main {
  background: $ui-white;
  position: fixed;
  top: 0; left: 0; bottom: 0;
  width: 4rem;
  z-index: 1000;
}

.intro {
  padding: 6rem 1rem 4rem;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: -50px;
    width: 66%;
    height: 100%;
    background: $ui-black;
  }

  h1 {
    position: absolute;
    top: 10%; left: 10%;
    z-index: 500;
    text-transform: uppercase;
    color: $text-inverted;
  }
  &__image {
    position: relative;
    margin-left: 30%;
    margin-right: 2rem;
    max-width: calc(70% - 2rem);
    z-index: 250;
  }
}

.text {
  padding: 4rem 1rem;
  &__inner {
    max-width: $max-width;
    margin: 0 auto;
  }
  &__bg-image {
    position: fixed;
    z-index: 0;
    top: 0; right: 0; bottom: 0; left: 0;
    background: 0% 50% no-repeat;
    background-size: cover;
  }

  &--has-bg-image {
    padding-top: 120vh;
  }

  p {
    position: relative;
    z-index: 100;
  }
}

// tinted images
.tinted {
  opacity: 0;
  transform: translate(20%,-5%);
  transition: opacity .6s, transform .6s;
  &.is-drawn {
    opacity: 1;
    transform: none;
  }
}

// crazy box in animation
.box-in-text {
  mix-blend-mode: hard-light;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
