/***
 *  Type Scale mixins
 *
 *  Sass mixins for setting font-size and line-height.
 *
 *  code:
 *    @include h1;
 *    @include h2;
 *    @include h3;
 *    @include h4;
 *    @include body;
 *    @include small;
 */
@mixin h1 () {
  font-size: pxToRem(42);
  line-height: $vr * 3;
  @include mq ($bp-medium) {
    font-size: pxToRem(72);
    line-height: $vr * 5;
  }
}
@mixin h2 () {
  font-size: pxToRem(32);
  line-height: $vr * 2;
  @include mq ($bp-medium) {
    font-size: pxToRem(48);
    line-height: $vr * 4;
  }
}
@mixin h3 () {
  font-size: pxToRem(24);
  line-height: $vr * 2;
  @include mq ($bp-medium) {
    font-size: pxToRem(30);
  }
}
@mixin h4 () {
  font-size: pxToRem(20);
  line-height: $vr * 2;
  @include mq ($bp-medium) {
    font-size: pxToRem(24);
  }
}
@mixin body () {
  font-size: pxToRem(16);
  line-height: $vr * 2;
}
@mixin small () {
  font-size: pxToRem(13);
  line-height: $vr * 1.5;
}
